ul {
    display: flex;
    gap: 10px;
} 

.book-card {
  background: antiquewhite;   
  padding: 16px;          
  margin: 12px 0;         
  border-radius: 8px;      
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  width: 300px;        
}

.book-title {
    color: black;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}

.book-info {
    font-size: 15px;
    margin: 2px 0;         
    color: #333;
}

