.navSection {
  display: flex;
  justify-content: center;       
  list-style: none; 
  background-color: grey;
  margin-bottom: 30px;
}

.nav-item {
  color: white;
  font-weight: 500;
  cursor: pointer;
  
}

.nav-item:hover {
  color: yellow;
}

ul {
  list-style: none;
  padding: 30px;
  margin: 0;
}